*{
    margin:0;
    padding:0;
    color:white;
}

body{
    background-color:black;
    text-align: center;

}

.container{
    height:70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:1.5vmin;
}

.game{
    height:60vmin;
    width:60vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap:1.5vmin;
}
.box{
    height:20vmin;
    width:18vmin;
    border-radius: 1rem;
    border:none;
    font-size:8vmin;
    color:red;
    background-color: greenyellow;
}
#reset{
    padding: 1rem;
    font-size:1.25rem;
    background-color: yellow;
    color: black;
    border-radius: 1rem;
    border:none;
}

#newBtn{
    padding: 1rem;
    font-size:1.25rem;
    background-color: yellow;
    color: black;
    border-radius: 1rem;
    border:none;

}
#msg{
    color:REd;
    font-size: 8vmin;
}
.msg-container{
    height:100vmin;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction:column;
    gap:4rem;

}

.hide{
    display:none;
}